body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF5F5;
    color: #181823;
  }
  
  header {
    background-color: #1F8A70;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-family: 'Belanosima', sans-serif;
    font-size: 36px;
  }
  
  nav {
    background-color: #00425A;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 40px;
  }
  
  section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #FC7300;
  }
  
  section p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  footer {
    background-color: #00425A;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-media {
    display: flex;
    gap: 10px;
  }
  
  .social-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  /* Formulario de Contacto */
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #FC7300;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF944D;
  }
  
  /* Media Queries para diseño responsive */
  @media (max-width: 768px) {
    header h1 {
      font-size: 24px;
    }
  
    nav li {
      display: block;
      margin: 10px 0;
    }
  }  